.practice {
  margin: 5px 5px 0 0;
  padding: 1rem;
  display: inline-block;
}

.practice .container {
  display: inline-flex;
}

.practice .icon {
  margin: auto;
  margin-right: 10px;
  display: inline-block;
  font-size: 2.5rem;
}

.practice .content {
  margin: auto;
  display: inline-block;
}

.practice .content h1 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.practice .content p {
  margin: 0;
  font-size: 1rem;
}
